@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --fill-primary-default: #EFEFEF;
    --fill-primary-hover: #E3E3E3;
    --fill-primary-disabled: #DFDFDF;

    --fill-accent-default: #0000EE;
    --fill-accent-hover: #0000CC;
    --fill-accent-disabled: #143E31;

    --label-primary: #000;
    --label-secondary: #FFF;
    --label-accent: #0000EE;

    --background-primary: #FFF;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fill-primary-default: #101010;
    --fill-primary-hover: #181818;
    --fill-primary-disabled: #3A3A3C;

    --fill-accent-default: #2E236C;
    --fill-accent-hover: #433D8B;
    --fill-accent-disabled: #C8ACD6;

    --label-primary: #FFF;
    --label-secondary: #000;
    --label-accent: #5049A6;

    --background-primary: #000;
  }
}
