:root {
  --body-default: hsl(0, 0%, 10%);
  --accent-default: hsl(229, 100%, 39%);
  --background-default: hsl(0, 0%, 99%);

  --hyperlink-default: hsl(229, 100%, 39%);
  --hyperlink-visited: hsl(259, 42%, 35%);
  --hyperlink-hover: hsl(240, 63%, 27%);
}

html, body  {
  color: var(--body-default);
  background: var(--background-default);
}

a {
  color: var(--hyperlink-default);
}

a:visited {
  color: var(--hyperlink-visited);
}

a:hover {
  color: var(--hyperlink-hover);
}

i,
b,
em {
  color: inherit;
}

main > h1 {
  color: var(--accent-default);
}

header > a.logo {
  color: var(--accent-default);
}
