button, input[type="submit"], .button {
  transition: .5s;
  width: fit-content;
  border-radius: .5rem;
  padding: .75rem 1rem;
  text-decoration: none;
  color: var(--label-primary-default);
  background-color: var(--fill-primary-default);
}

button:hover, input[type="submit"]:hover, .button:hover {
  background-color: var(--fill-primary-hover);
}

button:focus, input[type="submit"]:focus, .button:focus {
  @extend .button, :hover;
}

.button-accent {
  @extend .button;
  color: var(--label-secondary-default);
  background-color: var(--fill-accent-default);
}

.button-accent:focus, .button-accent:hover {
  color: var(--label-secondary-default);
  background-color: var(--fill-accent-hover);
}


