@import 'fonts';

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: var(--font-family-title);
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);
}

h1 {
  font-size: var(--font-size-64);
}

p {
  color: inherit;
  font-size: var(--font-size-20);
  font-family: var(--font-family-body);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

b {
  font-weight: 600;
}

span {
  color: var(--label-accent);
  font-family: var(--font-family-body);
  line-height: var(--line-height-body);
}

a {
  color: var(--label-accent);
  font-family: var(--font-family-body);
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

nav > a {
  font-size: var(--font-size-20);
  color: var(--label-accent);
  transition: var(--anchor-transition);
  text-decoration: var(--anchor-decoration);
}

nav > a:hover, nav > a:focus {
  font-style: italic;
}

ol, ul {
  padding: 0;
  list-style-type: none;
}

ol:before{
  font-weight: bold;
  content:attr(aria-label);
  font-size: var(--font-size-64);
  font-family: var(--font-family-title);
}

pre {
  padding: 1rem;
  text-wrap: wrap;
  border-radius: .5rem;
  background-color: var(--fill-primary-default) !important;
}

li {
  color: inherit;
  margin-bottom: 1rem;
  font-size: var(--font-size-20);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
  letter-spacing: var(--font-letter-spacing-body); 
}

.fs-120 {
  font-size: var(--font-size-120);
}
