:root {
  --font-family-title: serif;
  --font-family-body: sans-serif;
  --font-size-120: 7.5rem;
  --font-size-80: 5rem;
  --font-size-64: 4rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-36: 2.25rem;
  --font-size-32: 2rem;
  --font-size-28: 1.75rem;
  --font-size-24: 1.5rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --letter-spacing-title: 0;
  --letter-spacing-body: 0;
  --font-line-height-title: 105%;
  --font-line-height-body: 150%;
}

@media only screen and (max-width: 768px) {
  :root {
    --font-size-120: 3.5rem;
    --font-size-80: 3.5rem;
    --font-size-64: 3rem;
    --font-size-48: 2.5rem;
    --font-size-40: 2.25rem;
    --font-size-36: 2rem;
    --font-size-32: 1.75rem;
    --font-size-28: 1.5rem;
    --font-size-24: 1.375rem;
    --font-size-22: 1.25rem;
    --font-size-20: 1.125rem;
    --font-size-18: 1rem;
    --font-size-16: 0.875rem;
    --font-size-14: 0.75rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: var(--font-family-title);
  line-height: var(--font-line-height-title);
  letter-spacing: var(--font-letter-spacing-title);
}

h1 {
  font-size: var(--font-size-48);
}

h2 {
  font-size: var(--font-size-36);
}

h3 {
  font-size: var(--font-size-28);
}

h4 {
  font-size: var(--font-size-22);
}

h5 {
  font-size: var(--font-size-18);
}

h6 {
  font-size: var(--font-size-14);
}

p, li {
  color: inherit;
  font-size: var(--font-size-20);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
  letter-spacing: var(--font-letter-spacing-body);
}

span {
  color: var(--label-primary-disabled);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
}

a {
  color: var(--label-accent-default);
  font-family: var(--font-family-body);
  line-height: var(--font-line-height-body);
  letter-spacing: var(--font-letter-spacing-body);
}
