{% extends "base.html" %}
{% block head %}
<title> Not Found | Copan </title>
<meta name="description" content="Não foi possível encontrar a página solicitada" /> 
<link rel="stylesheet" href="{{ get_url(path='pages/home.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main aria-label="Secção principal">
  <section class="flex align-center">
    <header>
      <h1 class="heading--title"><span>404:</span> Not found</h1>
      <p class="heading--subtitle">
        Não foi possível encontrar a página solicitada.
        Pode ser que não esteja mais disponível. 
        Caso esteja perdido, você pode acessar os seguintes links:
      </p>
    </div>
    <nav aria-label="Lista de navegação">
      <a href="/" class="nav--item" aria-label="Acesse a página inicial">Início</a>
      <a href="/docs" class="nav--item" aria-label="Acesse a nossa documentação">Documentos</a>
      <a href="/docs/install" class="nav--item" aria-label="Acesse o nosso guia de instalação">Instalação</a>
    </nav>
  </section>
</main>
{% endblock content %}
