{% extends "base.html" %}
{% block head %}
<title> Copan | design system </title>
<meta name="description" content="Bem-vindo ao Copan — um coletivo multidisciplinar que celebra a essência da brasilidade com sofisticação e inovação." /> 
<link rel="stylesheet" href="{{ get_url(path='pages/home.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main aria-label="Secção de Introdução">
    <section class="align-center">
        <header>
            <h1 class="heading--title">Less, but <b>better</b></h1>
            <p>Bem-vindo ao <b>Copan</b>: descubra a simplicidade e a elegância do sistema de design desenvolvido com maestria pelo <a href="https://brasilis.club">Brasilis Club</a>, criado para oferecer soluções refinadas e coerentes em cada detalhe do seu projeto.</p>
            <nav aria-label="Lista de Navegação">
                <a class="button" href="{{ get_url(path="@/docs/_index.md") }}" aria-label="Acesse a nossa documentação">Documentação</a>
                <a class="button-accent" href="{{ get_url(path="@/docs/install.md") }}" aria-label="Acesse o nosso guia de instalação">Instalação</a>
            </nav>
        </header>
    </section>
</main>
{% endblock content %}
