.heading--title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: var(--font-size-40);
  color: var(--label-primary-default);
  font-family: var(--font-family-body);

  a {
    color: inherit;
    font-weight: 600;
  }
}

nav > a {
  color: var(--label-primary-disabled);
  font-size: var(--font-size-28);
  text-decoration: none;
}
