.heading--title {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: var(--font-size-120);
  color: var(--label-primary);

  a {
    color: inherit;
    font-weight: 600;
  }
}

nav {
  gap: 1rem;
}

nav a:hover {
  font-style: unset;
}
