{% extends "base.html" %}
{% block head %}
<title> Brasilis Club </title>
<meta name="description" content="Brasilis Club is a brazilian research-focused multipurpose collective." /> 
<link rel="stylesheet" href="{{ get_url(path='home.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main class="page__container" aria-label="Heading section">
  <section class="content__container">
    <div class="heading__container">
      <h1 class="heading__title"><span>404:</span> Not found</h1>
      <p class="heading__subtitle">
        Não foi possível encontrar a página solicitada.
        Pode ser que não esteja mais disponível. 
        Caso esteja perdido, você pode acessar os seguintes links:
      </p>
    </div>
    <div class="navigation__list" aria-label="Lista de navegação">
      <a href="/" class="navigation__item" aria-label="Acesse a página inicial">Início</a>
      <a href="/docs" class="navigation__item" aria-label="Acesse a nossa documentação">Documentos</a>
      <a href="/docs/install" class="navigation__item" aria-label="Acesse o nosso guia de instalação">Instalação</a>
    </div>
  </section>
</main>
{% endblock content %}
