<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ get_url(path='colors.css', trailing_slash=false) | safe }}" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ get_url(path='form.css', trailing_slash=false) | safe }}" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ get_url(path='media.css', trailing_slash=false) | safe }}" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ get_url(path='layout.css', trailing_slash=false) | safe }}" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ get_url(path='text.css', trailing_slash=false) | safe }}" crossorigin="anonymous" />
        <link rel="icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) | safe }}" crossorigin="anonymous" />
        {% block head %}{% endblock head %}
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
