{% extends "base.html" %}
{% block head %}
<title> Copan | design system </title>
<meta name="description" content="Bem-vindo ao Copan — um coletivo multidisciplinar que celebra a essência da brasilidade com sofisticação e inovação." /> 
<link rel="stylesheet" href="{{ get_url(path='pages/home.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
<main aria-label="Secção de Introdução">
    <section class="container--centered">
        <header>
            <h1 class="heading--title">Bem-vindo ao <b>Copan</b> — um <i>design system</i> desenvolvido pela <a href="https://brasilis.club">Brasilis Club</a></h1>
            <nav aria-label="Lista de Navegação">
                <a href="/docs" class="nav--item" aria-label="Acesse a nossa documentação">Documentação</a>
                <a href="/docs/install" class="nav--item" aria-label="Acesse o nosso guia de instalação">Instalação</a>
            </nav>
        </header>
    </section>
</main>
{% endblock content %}
